<!DOCTYPE html>
<html>
<head>
  <title>CrudWithValidationsLab</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<% unless current_page?(controller: "songs", action: "index") %>
  <hr />
  <%= link_to "View All Songs", songs_path %>
<% end %>

</body>
</html>
